<!-- snippets/index-featured-products.liquid -->

{% assign grid_item_width = 'column l4 m6 s12' %}

<div class="container">
  <h3>{{ 'index.featured_products' | t }}</h3>
</div>

<div class="container">
  <div class="row">
    {% for product in collections.frontpage.products limit:6 %}
      {% include 'product-grid-item' %}
    {% else %}
      {% unless emptyState %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign emptyState = true %}
      {% endunless %}
      {% include 'onboarding-featured-products' %}
    {% endfor %}
  </div>
</div>

<div class="container">
  <hr>
</div>
