<!-- /snippets/search-form.liquid -->

<form action="/search" method="get" role="search">
  {% comment %}
    http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results

    Include one of the following lines within the form to search only products, pages or blog articles

    <input type="hidden" name="type" value="product">
    <input type="hidden" name="type" value="page">
    <input type="hidden" name="type" value="article">
  {% endcomment %}
  <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'search.title' | t }}" aria-label="{{ 'search.title' | t }}">
  <button type="submit" class="hidden">{{ 'form.submit' | t }}</button>
</form>
