<!-- /snippets/theme-footer.liquid -->

<footer class="theme-footer center" role="contentinfo">

  <div class="container">
    <hr>
    <div class="row">
      <div class="column l5 m12 s12 l-left middle">
        {% if settings.enable_footer_social %}
          {% include 'social-links' %}
        {% endif %}
      </div>
      <div class="column l7 m12 s12 l-right m-middle">
        {% if settings.enable_footer_subscribe %}
          {% include 'subscribe-form' %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container center">
    <div class="row">
      <div class="column l7 m12 s12 l-left middle">
        {% if settings.enable_gateway_icons %}
          {% include 'payment-gateways' %}
        {% endif %}
      </div>
      <div class="column l5 m12 s12 l-right m-middle">
        &copy; {{ 'now' | date: "%Y" }} <a href="https://github.com/Elkfox/Concrete" title="Concrete Shopify Theme Framework">Concrete</a>
        by <a href="https://elkfox.com?ref=Concrete" title="Elkfox.com">Elkfox</a>
        {{ powered_by_link | replace:'shopify.com','shopify.com/?ref=elkfox' }}
      </div>
    </div>
  </div>

</footer>
