/* Forms =====================================================================*/

form {
  max-width: 100%;
}

// Basic form element spacing
form#AddToCartForm,
#ContactForm form,
.popup form,
form#customer_login,
form#create_customer,
#PasswordRecoverForm form,
#PasswordResetForm form,
#ActivateAccountForm form,
form#address_form_new {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="password"],
  textarea,
  .select-wrapper,
  .province-wrapper,
  button, .button {
    width: 100%;
    @include clearfix();
    &:not(:last-child) {
      margin-bottom: $spacing*2;
    }
  }
}

// Wide forms
form#AddToCartForm,
form#contact_form,
.popup form,
form#customer_login,
form#create_customer,
#PasswordRecoverForm form,
#PasswordResetForm form,
#ActivateAccountForm form,
form#CartPage {
  display: block;
  width: 100%;
}

// Small screen form element spacing
@include s() {
  button, .button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="password"],
  input[type="search"],
  textarea,
  .select-wrapper,
  .province-wrapper {
    width: 100%;
    @include clearfix();
    &:not(:last-child) {
      margin-bottom: $spacing*2;
    }
  }
}
