/* Global ====================================================================*/

html {
  height: 100%;
  font: 16px/21px $fontFamily;
}

body {
  height: 100%;
  color: $colorText;
  background-color: $colorBackground;
  font: inherit;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
  font-family: inherit;
  font-weight: $fontBold;
  line-height: $lineHeight;
  margin-bottom: $lineMargin;
}
h1, .h1 { font-size: $h1; }
h2, .h2 { font-size: $h2; }
h3, .h3 { font-size: $h3; }
h4, .h4 { font-size: $h4; }
h5, .h5 { font-size: $h5; }
h6, .h6 { font-size: $h6; }

p {
  font-size: $p;
  font-weight: $fontNormal;
  line-height: $lineHeight;
  margin-bottom: $lineMargin;
}

a {
  color: $colorBrand;
  cursor: pointer;
  @include transition();
  &:hover, &:focus {
    color: darken($colorBrand, $adjustAmount);
  }
}

hr {
  border: 0;
  border-top: $borderWeight $borderStyle $colorBorder;
  margin: $lineMargin 0;
}

strong, b {
  font-weight: $fontBold;
}

em, i {
  font-style: italic;
}

small, .small {
  font-size: $small;
}

.rte {
  ul, ol {
    list-style: initial;
    list-style-position: inside;
    margin-bottom: $lineMargin;
    li {
      list-style: inherit;
      list-style-position: inherit;
      margin-bottom: $lineMargin;
    }
  }
  ol {
    list-style-type: decimal;
  }
  *:last-child {
    margin-bottom: 0;
  }
}

.theme-breadcrumbs {
  margin-bottom: $lineMargin;
}

// Inputs
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea,
select {
  max-width: 100%;
  height: $gutter;
  padding: 0 $spacing*2;
  font-size: $h4;
  font-family: inherit;
  background-color: $colorBackground;
  border: $borderWeight $borderStyle $colorBorder;
  border-radius: $borderRadius;
  color: $colorText;
  @include prefixer(appearance, none);
  @include transition();
  &.error {
    border-color: $colorHighlight;
  }
  // Webkit placeholders
  &::placeholder,
  &::-webkit-input-placeholder {

  }
  // Firefox placeholders
  &:-moz-placeholder,
  &::-moz-placeholder {

  }
  // IE & Edge placeholders
  &:-ms-input-placeholder
  &::-ms-input-placeholder {
    
  }
  // Safari placeholders
  &::-webkit-textfield-decoration-container {
    display: block;
  }
  // Webkit autofill styling
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border: $borderWeight $borderStyle $colorBorder;
    border-radius: $borderRadius;
    -webkit-text-fill-color: $colorText;
    -webkit-box-shadow: 0 0 0px $gutter*100 rgba($colorHighlight, 0.35) inset;
  }
  // Select dropdown options for Firefox
  option {
    display: block;
    background-color: $colorBackground;
    color: $colorText;
    border: 0;
  }
}
textarea {
  height: initial;
  resize: horizontal;
  line-height: $lineHeight;
  padding: $gutter/2;
  font-family: inherit; // For Firefox
}

// Labels
label {
  display: block;
  font-size: $h5;
  font-weight: $fontBold;
  line-height: $lineHeight;
  margin-bottom: $lineMargin/2;
  @include clearfix();
}

// Checkboxes
input[type="checkbox"] {
  display: none;
  & + label {
    &:before {
      content: '';
      display: inline-block;
      width: $spacing*2;
      height: $spacing*2;
      line-height: ($spacing*2) - ($borderWeight*2);
      margin-right: $spacing;
      border: $borderWeight $borderStyle $colorBorder;
      border-radius: 100%;
      background-color: transparent;
      color: $colorBackground;
      font-size: $small;
      text-align: center;
      vertical-align: top;
      @include transition();
    }
  }
  &:checked {
    & + label {
      &:before {
        content: '\2714';
        border-color: $colorBrand;
        background-color: $colorBrand;
      }
    }
  }
}

// Buttons
button, .button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  max-width: 100%;
  height: $gutter;
  line-height: ($gutter - $borderWeight*2);
  padding: 0 $spacing*2;
  font-size: $h4;
  font-family: inherit;
  background-color: $colorBrand;
  border: $borderWeight $borderStyle $colorBrand;
  border-radius: $borderRadius;
  color: $colorBackground;
  text-align: center;
  cursor: pointer;
  @include prefixer(appearance, none);
  @include transition();
  &:hover {
    background-color: darken($colorBrand, $adjustAmount);
    border-color: darken($colorBrand, $adjustAmount);
    color: $colorBackground;
  }
  &:disabled, &.disabled {
    cursor: default;
    background-color: lighten($colorAlternate, $adjustAmount);
    border-color: lighten($colorAlternate, $adjustAmount);
    color: $colorText;
    &:hover {
      @extend .disabled;
    }
  }
}
a.button {
  display: inline-block;
  text-decoration: none;
}

.select-wrapper {
  display: inline-block;
  position: relative;
  &:after {
    content: '\2304';
    position: absolute;
    right: $spacing*2;
    top: 0;
    bottom: 0;
    line-height: 100%;
    font-size: $h1;
    color: $colorText;
  }
  select {
    width: 100%;
    padding-right: $spacing*5;
    &::-ms-expand {
      display: none;
    }
  }
}

.errors, .note {
  padding: $gutter/3.5;
  margin: $gutter/2 auto;
  color: $colorBackground;
  background-color: $colorHighlight;
  border: $borderWeight $borderStyle $colorHighlight;
  border-radius: $borderRadius;
  li {
    margin-bottom: $gutter/3;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    color: $colorBackground;
  }
}
