/* Grid System ===============================================================*/

.container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 0 $gutter;
  &.xl {
    width: $xl;
  }
  &.l {
    width: $l;
  }
  &.m {
    width: $m;
  }
  &.s {
    width: $s;
  }
  @include s() {
    padding: 0 $gutter/2;
  }
}

// Rows

.row {
  margin: 0 (-$gutter/2) $gutter;
  // Table Grid
  &.table { @include table(); }
  &.xl-table { @include xl() { @include table(); } }
  &.l-table { @include l() { @include table(); } }
  &.m-table { @include m() { @include table(); } }
  &.s-table { @include s() { @include table(); } }
  // Standard Grid
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &.collapse {
    margin: 0;
    .column {
      padding: 0;
    }
  }
}

// Column Grid

.column {
  float: left;
  min-height: 0.125rem;
  padding: 0 $gutter/2;
  &.l1 { width: percentage(1/12); }
  &.l2 { width: percentage(2/12); }
  &.l3 { width: percentage(3/12); }
  &.l4 { width: percentage(4/12); }
  &.l5 { width: percentage(5/12); }
  &.l6 { width: percentage(6/12); }
  &.l7 { width: percentage(7/12); }
  &.l8 { width: percentage(8/12); }
  &.l9 { width: percentage(9/12); }
  &.l10 { width: percentage(10/12); }
  &.l11 { width: percentage(11/12); }
  &.l12 { width: 100%; }
  @include m() {
    &.m1 { width: percentage(1/12); }
    &.m2 { width: percentage(2/12); }
    &.m3 { width: percentage(3/12); }
    &.m4 { width: percentage(4/12); }
    &.m5 { width: percentage(5/12); }
    &.m6 { width: percentage(6/12); }
    &.m7 { width: percentage(7/12); }
    &.m8 { width: percentage(8/12); }
    &.m9 { width: percentage(9/12); }
    &.m10 { width: percentage(10/12); }
    &.m11 { width: percentage(11/12); }
    &.m12 { width: 100%; }
  }
  @include s() {
    &.s1 { width: percentage(1/12); }
    &.s2 { width: percentage(2/12); }
    &.s3 { width: percentage(3/12); }
    &.s4 { width: percentage(4/12); }
    &.s5 { width: percentage(5/12); }
    &.s6 { width: percentage(6/12); }
    &.s7 { width: percentage(7/12); }
    &.s8 { width: percentage(8/12); }
    &.s9 { width: percentage(9/12); }
    &.s10 { width: percentage(10/12); }
    &.s11 { width: percentage(11/12); }
    &.s12 { width: 100%; }
  }
  // Uniform Height Clearing
  @include l() {
    &:nth-child(6n+1).l2 { clear: both; }
    &:nth-child(4n+1).l3 { clear: both; }
    &:nth-child(3n+1).l4 { clear: both; }
    &:nth-child(2n+1).l6 { clear: both; }
  }
  @include m() {
    &:nth-child(6n+1).m2 { clear: both; }
    &:nth-child(4n+1).m3 { clear: both; }
    &:nth-child(3n+1).m4 { clear: both; }
    &:nth-child(2n+1).m6 { clear: both; }
  }
  @include s() {
    &:nth-child(6n+1).s2 { clear: both; }
    &:nth-child(4n+1).s3 { clear: both; }
    &:nth-child(3n+1).s4 { clear: both; }
    &:nth-child(2n+1).s6 { clear: both; }
  }
}

// Flex Grid

.flex {
  @include flex();
  @include box-orient--vertical();
  @include flex-direction(column);
  .row {
    @include flex();
    @include flex-direction(row);
    .box {
      margin: 0 $gutter/2 $gutter;
      flex: auto;
      align-self: center;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &.center {
        text-align: center;
        align-items: center;
      }
    }
    @include s() {
      @include flex-direction(column);
      .box {
        width: 100%;
        margin: 0 0 $gutter;
      }
    }
  }
}
