// Alignment Helpers
.left {
  text-align: left;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.right {
  text-align: right;
}
.wide {
  width: 100%;
}

.vertical-align {
  @include vertical-align();
}

.v-middle {
  vertical-align: middle;
}
.v-top {
  vertical-align: top;
}
.v-bottom {
  vertical-align: bottom;
}

// Visibility helpers
@include xl() {
  .xl-hide { display: none !important; }
  .xl-left { text-align: left; }
  .xl-center { text-align: center; }
  .xl-right { text-align: right; }
  .l-show, .m-show, .s-show { display: none !important; }
}
@include l() {
  .l-hide { display: none !important; }
  .l-left { text-align: left; }
  .l-center { text-align: center; }
  .l-right { text-align: right; }
  .xl-show, .m-show, .s-show { display: none !important; }
}
@include m() {
  .m-hide { display: none !important; }
  .m-left { text-align: left; }
  .m-center { text-align: center; }
  .m-right { text-align: right; }
  .l-show { display: none !important; }
  .xl-show, .l-show, .s-show { display: none !important; }
}
@include s() {
  .s-hide { display: none !important; }
  .s-left { text-align: left; }
  .s-center { text-align: center; }
  .s-right { text-align: right; }
  .l-show { display: none !important; }
  .xl-show, .l-show, .m-show { display: none !important; }
}

.hidden {
  display: none;
}

// Colour helpers

.highlight {
  color: $colorHighlight;
}
.alternate {
  color: $colorAlternate;
}

.inline {
  list-style: none;
  display: inline-block;
  li {
    display: inline-block;
  }
}
.clearfix {
  @include clearfix();
}
.no-select {
  @include prefixer(user-select, none, webkit moz ms spec);
}
.overlay {
  @include overlay();
}

// Margin and padding helpers
.no-margin {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.margin-top {
  margin-top: $gutter;
}
.margin-bottom {
  margin-bottom: $gutter;
}
.padding-top {
  padding-top: $gutter;
}
.padding-bottom {
  padding-bottom: $gutter;
}
