/* Helpers ===================================================================*/

// Width & Height
.wide {
  width: 100%;
}
.tall {
  height: 100%;
}

// Misc.
.clearfix {
  @include clearfix();
}
.no-select {
  @include prefixer(user-select, none);
}
.no-line-height {
  line-height: 1;
}
.overlay {
  @include overlay();
}

// Horizontal Alignment
.left {
  text-align: left;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.right {
  text-align: right;
}

// Vertical Alignment
.vertical-align {
  @include vertical-align();
}
.v-middle {
  vertical-align: middle;
}
.v-top {
  vertical-align: top;
}
.v-bottom {
  vertical-align: bottom;
}

// Text Transform
.t-uppercase {
  text-transform: uppercase;
}
.t-capitalize {
  text-transform: capitalize;
}
.t-none {
  text-transform: none;
}
.t-lowercase {
  text-transform: lowercase;
}

// Font Weights
.w-light {
  font-weight: $fontLight;
}
.w-normal {
  font-weight: $fontNormal;
}
.w-bold {
  font-weight: $fontBold;
}

// Display
.hidden {
  display: none;
}
.block {
  display: block;
}
.inline {
  list-style: none;
  display: inline-block;
  li {
    display: inline-block;
  }
}
.flex {
  @include flex();
}

// Positioning
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}

// Margin & Padding
.no-margin {
  margin-top: 0;
  margin-bottom: 0 !important;
}
.no-padding {
  margin-top: 0;
  margin-bottom: 0 !important;
}

// Breakpoint Specific
@include xl() {
  .xl-flex { @include flex(); }
  .xl-hide { display: none !important; }
  .xl-left { text-align: left; }
  .xl-center { text-align: center; }
  .xl-right { text-align: right; }
  .xl-v-middle { vertical-align: middle; }
  .xl-v-top { vertical-align: top; }
  .xl-v-bottom { vertical-align: bottom; }
  .l-show, .m-show, .s-show { display: none !important; }
  .xl-show { display: block !important; }
}
@include l() {
  .l-flex { @include flex(); }
  .l-hide { display: none !important; }
  .l-left { text-align: left; }
  .l-center { text-align: center; }
  .l-right { text-align: right; }
  .l-v-middle { vertical-align: middle; }
  .l-v-top { vertical-align: top; }
  .l-v-bottom { vertical-align: bottom; }
  .xl-show, .m-show, .s-show { display: none !important; }
  .l-show { display: block !important; }
}
@include m() {
  .m-flex { @include flex(); }
  .m-hide { display: none !important; }
  .m-left { text-align: left; }
  .m-center { text-align: center; }
  .m-right { text-align: right; }
  .m-v-middle {   vertical-align: middle; }
  .m-v-top { vertical-align: top; }
  .m-v-bottom { vertical-align: bottom; }
  .xl-show, .l-show, .s-show { display: none !important; }
  .m-show { display: block !important; }
}
@include s() {
  .s-flex { @include flex(); }
  .s-hide { display: none !important; }
  .s-left { text-align: left; }
  .s-center { text-align: center; }
  .s-right { text-align: right; }
  .s-v-middle { vertical-align: middle; }
  .s-v-top { vertical-align: top; }
  .s-v-bottom { vertical-align: bottom; }
  .xl-show, .l-show, .m-show { display: none !important; }
  .s-show { display: block !important; }
}
