/* Toggle Side Menu ==========================================================*/

.theme-nav-toggled {
  z-index: 9995;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: $gutter;
  @include transition-property(); // For legacy support
  @include prefixer(transition-duration, 0.3s, webkit moz spec);
  @include prefixer(transition-delay, 0.3s, webkit moz spec);
  &.from-left {
    top: 0;
    left: 0;
    @include prefixer(transform, translate3d(-100%, 0, 0), webkit moz ms o spec);
    max-width: 350px;
  }
  &.from-right {
    top: 0;
    right: 0;
    @include prefixer(transform, translate3d(100%, 0, 0), webkit moz ms o spec);
  }
  &.from-bottom {
    bottom: 0;
    @include prefixer(transform, translate3d(0, 100%, 0), webkit moz ms o spec);
  }
  &.from-top {
    bottom: 0;
    @include prefixer(transform, translate3d(0, -100%, 0), webkit moz ms o spec);
  }
  &.visible {
    @include prefixer(transform, translate3d(0, 0, 0), webkit moz ms o spec);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  // Demo styling
  background-color: $colorForeground;
  color: $colorBackground;
  a {
    color: $colorBackground;
  }
  .nav-toggled-close {
    display: block;
    position: absolute;
    top: $gutter/2;
    right: $gutter/2;
  }
  &.from-left, &.from-right { width: 400px; max-width: 90%; }
}
