/* Popups ====================================================================*/

.popup {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  @include transition($transitionProperty $transitionSpeed/2 $transitionStyle);
  &.visible {
    opacity: 1;
    visibility: visible;
    @include transition();
  }
  .popup-content {
    display: inline-block;
    z-index: 9999;
    max-width: 100%;
    max-height: 100%;
    overflow: auto; // Optional line for overly tall popups
    padding: $gutter;
    background-color: $colorBackground;
    cursor: default;
    color: $colorText;
  }
  &.overlay {
    background: rgba($colorText, 0.85);
    @include overlay();
    .popup-outside {
      position: absolute;
      z-index: 9998;
      @include overlay();
    }
    .popup-inner {
      -webkit-backface-visibility: hidden;
      cursor: pointer;
      z-index: 9997;
      text-align: initial;
      @include overlay();
      @include prefixer(transition-delay, 0.3s);
      @include prefixer(transform, translateY($gutter/2));
      @include flex();
      @include flex-align(items, center);
      @include flex-justify(center);
      @include transition();
      .popup-content {
        position: relative;
      }
    }

    &.visible {
      .popup-inner {
        @include prefixer(transform, translateY(0px));
      }
    }
  }
  &.notification {
    .popup-content {
      position: fixed;
      bottom: $gutter;
      left: $gutter;
      padding: $gutter/2;
      @include prefixer(transition-delay, 0.3s);
      @include prefixer(transform, translateY(100%));
      @include transition();
    }
    &.visible {
      .popup-content {
        @include prefixer(transform, translateY(0%));
      }
    }
  }
  .popup-close {
    display: block;
    position: absolute;
    top: $gutter/2;
    right: $gutter/2;
  }
}

// Popup Cart
#PopupCart {
  .popup-content {
    width: 400px;
  }
  p {
    margin-bottom: $gutter/3;
  }
  .cart-item {
    margin-bottom: $gutter/3;
  }
}

// Popup Account
#PopupAccount {
  .popup-content {
    width: 400px;
  }
}
