<!-- /templates/blog.grid.liquid -->

{% paginate blog.articles by 12 %}

  <div class="container l">
    {% if current_tags %}
      <h1>{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
    {% else %}
      <h1>{{ blog.title }}</h1>
    {% endif %}

    <div class="row">
      {% for article in blog.articles %}
        <div class="column l4 m6 s12">
          {% include 'blog-article' %}
        </div>
      {% endfor %}
    </div>

    {% include 'theme-pagination' with 'hr' %}
  </div>

{% endpaginate %}
