<!-- /snippets/popup-error.liquid -->

{% comment %}
  For dispaying cart errors when necessary
{% endcomment %}

<div id="PopupError" class="popup overlay">
  <div class="popup-inner">
    <div class="popup-content left">
      <div id="errorMessage"></div>

      <a href="#close" class="popup-close" data-close aria-label="{{ 'common.close' | t }}">{{ 'common.close' | t }}</a>
    </div>
  </div>
</div>

<script>
  var PopupError = new Focus('#PopupError');
</script>
