@charset "UTF-8";
/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Concrete v1.0
  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
==============================================================================*/

/* Settings ==================================================================*/
@import url('settings/variables.scss.liquid');

/* Utils =====================================================================*/
@import url('utils/mixins.scss');

/* Global ====================================================================*/
@import url('global/concrete-reset.scss');
@import url('global/global.scss');
@import url('global/grid.scss');
@import url('global/forms.scss');

/* Modules ===================================================================*/
@import url('modules/header.scss');
@import url('modules/navigation.scss');
@import url('modules/footer.scss');
@import url('modules/cart.scss');
@import url('modules/drawer.scss');
@import url('modules/popups.scss');
@import url('modules/social.scss');
@import url('modules/icon.scss');
@import url('modules/product.scss');

/* Helpers ===================================================================*/
@import url('global/helpers.scss');

/* =============================================================================
   Shopify core helpers
============================================================================= */

// Shopify capture challenge
.shopify-challenge__container {
  text-align: center;
}
