@charset 'UTF-8';

/**
 * [replace with theme name] | Built with Slate & Concrete
 */
@import '~normalize.css/normalize';
@import '~@elkfox/shopify-theme/styles/form-reset.scss';

// Settings
@import './variables';

// Tools
@import '~sass-library/mixins/prefix.scss';
@import '~sass-library/mixins/media-query.scss';
@import '~sass-library/mixins/container.scss';
@import '~sass-library/mixins/transitions.scss';
@import '~sass-library/mixins/visibility.scss';

// Core
@import '~@elkfox/shopify-theme/styles/media.scss';
@import '~@elkfox/shopify-theme/styles/rte.scss';
@import './core/helpers';
@import './core/layout';
@import './core/forms';
@import './core/responsive-tables';
@import './core/typography';

// Components
// To do: move all sample styling to @elkfox/shopify-theme/
@import './components/icons';
@import './components/address-forms';
@import './components/pagination';

// Sections
// To do: move header and footer sections to /frame folder
@import './sections/header';
@import './sections/footer';

// Templates
@import './templates/index';
@import './templates/collection';
@import './templates/product';
@import './templates/page';
@import './templates/cart';
@import './templates/gift_card';
