/* Cart ======================================================================*/

.template-cart {

}

.quantity-adjust {
  margin-bottom: $spacing*2;
  @include prefixer(user-select, none);
  @include flex();
  @include flex-align('items', 'center');
  .adjust {
    height: $gutter/1.5;
    line-height: $gutter/1.5 - $borderWeight*4;
    border: $borderWeight $borderStyle transparent;
    font-size: $h4;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
  }
  input[type="number"].quantity {
    width: $gutter/1.5;
    height: $gutter/1.5;
    line-height: $gutter/1.5 - ($borderWeight*2);
    font-size: $p;
    margin: 0 $spacing/2;
    padding: 0;
    text-align: center;
    &[type=number]::-webkit-inner-spin-button,
    [type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
