/* Mixins ====================================================================*/

// Prefixer (See https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_prefixer.scss)
@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

// Clearfix
@mixin clearfix() {
  display: block; // TBC - is this OK? Seems to help
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  *zoom: 1;
}

// Screen Sizes
@mixin s() {
  @media (max-width: $s) {
    @content;
  }
}
@mixin s-m() {
  @media (max-width: $l - 1px) {
    @content;
  }
}
@mixin m() {
  @media (min-width: $s + 1px) and (max-width: $l - 1px) {
    @content;
  }
}
@mixin m-l() {
  @media (min-width: $s + 1px) and (max-width: $l) {
    @content;
  }
}
@mixin l() {
  @media (min-width: $l) {
    @content;
  }
}
@mixin m-xl() {
  @media (min-width: $s + 1px) {
    @content;
  }
}
@mixin xl() {
  @media (min-width: $xl) {
    @content;
  }
}

// Flex
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin box-orient--vertical() {
  @include prefixer(box-orient, vertical, $prefixes);
}
@mixin flex-direction($flex-direction) {
  @include prefixer(flex-direction, $flex-direction, $prefixes);
}

// Table Grids
@mixin table() {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  .column {
    float: none;
    display: table-cell;
    &.middle {
      vertical-align: middle;
    }
    &.top {
      vertical-align: top;
    }
    &.bottom {
      vertical-align: bottom;
    }
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}

// Verically Align
@mixin vertical-align() {
  position: relative;
  top: 50%;
  @include prefixer(transform, perspective(1px) translateY(-50%), $prefixes);
}

// Transition Property (for legacy support)
@mixin transition-property() {
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}

// Transitions
@mixin transition() {
  @include prefixer(transition, $transition, $prefixes);
}

// Overlays
@mixin overlay() {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
