// .parallax {
//   transition: background-position-y 0.5s ease-out;
// }

header {
  position: relative;
  height: auto;
  padding: 0 50px;

  .content {
    z-index: 2;
    position: relative;
    padding: 90px 0 40px;
    width: 100%;
    top: 50%;
    h1 {
      line-height: 1.2;
      margin-bottom: 0;
      @include s() {
        font-size: 3rem;
      }
    }
    h2 {
      font-size: 1.3rem;
      font-weight: 400;
      margin-bottom: 0;
      color: $colorOne;
    }
    a {
      color: $colorText;
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: 400;
      vertical-align: middle;
    }
    .links {
      a {
        font-size: 0.8rem;
        font-weight: 600;
        .icon {
          margin-right: $gutter/5;
        }
      }
    }
    .button {
      background: $colorText;
      padding: 0 $gutter/2;
      color: $colorBackground;
      font-weight: 600;
      font-size: 1rem;
      display: inline-block;
      margin-bottom: $gutter/2.5;
      height: 46px;
      line-height: 46px;
      width: auto;
      max-width: 100%;
      border: 0;
      svg {
        margin-right: $gutter/5;
        .fill {
          fill: $colorBackground;
        }
        .stroke {
          stroke: $colorBackground;
        }
      }

    }
    svg .fill {
      fill: $colorWhite;
    }
    svg.github, svg.shopify, svg.heart {
      height: 0.9rem;
      width: 0.9rem;
    }
    svg.shopify {
      margin-left: 0.75rem;
      @include s() {
        margin-left: 0;
      }
    }
    svg.elkfox {
      height: 2rem;
      width: auto;
    }
  }
}

aside.sidebar {
  position: relative;
  padding: 50px;
  li {
    margin-bottom: 0;
  }
  div.fixed {
    position: fixed;
    top: $gutter;
    height: 100%;
  }
  ul.childlinks {
    margin-bottom: 0px;
    margin-left: $gutter/4;
    display: none;
    &.childView {
      display: block;
    }
    a {
      font-size: 0.8em;
    }
  }
}

article.documentation {
  padding: $gutter;
  @include m() {
    padding: $gutter/2;
  }
  @include s() {
    padding: $gutter/4;
  }
  h2:first-of-type {
    margin-top: 0;
  }
}

.credit {
  position: fixed;
  bottom: 0px;
  background-color: $colorBackground;
  bottom: 0px;
  left: 0px;
  padding-left: $gutter;
  z-index: 10;
  @include m() {
    padding-left: $gutter/2;
  }
  @include s() {
    padding-left: $gutter/4;
  }
  p {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    font-weight: $fontBold;
    font-size: 0.8rem;
  }
  .icon svg.elkfox .fill {
    fill: $colorText;
  }
}
.demo-wrapper {
  margin-bottom: $gutter;
}
.demo-grid {
  background-color: rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
  border-color: $colorEight;
  font-family: Menlo, monospace;
  font-weight: 900;
  .demo-grid {
    border-color: $colorOne;
    .demo-grid {
      border-color: $colorThree;
    }
  }
}
// Overrides
.icon {
  line-height: 1;
}
