<!-- templates/password.liquid -->

{% unless shop.password_message == blank %}
  {{ shop.password_message }}
{% endunless %}

{% form 'storefront_password' %}
  {{ form.errors | default_errors }}
  <label for="password">Enter store using password:</label>
  <input type="password" name="password">
  <input type="submit" value="Enter">
{% endform %}

{% form 'customer' %}
  {{ form.errors | default_errors }}
  {% if form.posted_successfully? %}
    <p>Thanks for signing up!</p>
  {% else %}
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="email">Email address</label>
    <input type="email" name="contact[email]" id="email" placeholder="Your email">
    <input type="submit" value="Submit">
  {% endif %}
{% endform %}
