/**
* Animations are by no means necessary, but are provided here as inspiration
**/

/* Transition variables ======================================================*/

// Transitions
$transitionProperty: all;
$transitionSpeed: 150ms;
$transitionStyle: ease-out;
$transitionDelay: 200ms;
$transition: $transitionProperty $transitionSpeed $transitionStyle;

/* Transition mixins =========================================================*/

// Transitions
@mixin transition() {
  @include prefixer(transition, $transition);
}

/* Transition styles =========================================================*/

button, .button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  @include transition();
}
