/* Mixin variables ===========================================================*/
$prefixes: webkit moz ms spec;

/* Mixins ====================================================================*/

// Prefixer
// See https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_prefixer.scss
@mixin prefixer($property, $value, $prefixes:$prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

// PX to REM conversion
// Usage: font-size: rem(32px);
@function rem($px, $base: $fontBaseSize) {
  @return ($px / $base) * 1rem;
}
