$colorFacebook: #3b5998;
$colorTwitter: #00aced;
$colorPinterest: #cb2027;
$colorFancy: #4999dc;
$colorGoogle: #dd4b39;

.facebook {
  &.button {
    background-color: $colorBackground;
    border-color: $colorFacebook;
    color: $colorFacebook;
    &:hover {
      background-color: $colorFacebook;
      color: $colorBackground;
    }
  }
  &.icon {
    fill : $colorFacebook;
  }
}
.twitter {
  &.button {
    background-color: $colorBackground;
    border-color: $colorTwitter;
    color: $colorTwitter;
    &:hover {
      background-color: $colorTwitter;
      color: $colorBackground;
    }
  }
  &.icon {
    fill: $colorTwitter;
  }
}
.pinterest {
  &.button {
    background-color: $colorBackground;
    border-color: $colorPinterest;
    color: $colorPinterest;
    &:hover {
      background-color: $colorPinterest;
      color: $colorBackground;
    }
  }
  &.icon {
    fill: $colorPinterest;
  }
}
.fancy {
  &.button {
    background-color: $colorBackground;
    border-color: $colorFancy;
    color: $colorFancy;
    &:hover {
      background-color: $colorFancy;
      color: $colorBackground;
    }
  }
  &.icon {
    fill: $colorFancy;
  }
}
.google {
  &.button {
    background-color: $colorBackground;
    border-color: $colorGoogle;
    color: $colorGoogle;
    &:hover {
      background-color: $colorGoogle;
      color: $colorBackground;
    }
  }
  &.icon {
    fill: $colorGoogle;
  }
}
