body {
  font-size: $fontBaseSize;
  font-family: $fontBodyFamily;
  font-weight: $fontBodyWeight;
  line-height: $fontBaseLineHeight;
}

p {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $fontHeadingFamily;
  font-weight: $fontHeadingWeight;
  line-height: $fontBaseLineHeight*0.85;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

small {
  font-size: 0.8rem;
}

b, strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}
