<!-- /templates/customers/register.liquid -->

<div class="container s">
  <h1>{{ 'account.register.title' | t }}</h1>
  <h4>{{ 'account.register.message' | t }}</h4>
  {% include 'form-register' %}
</div>
